@import url("vendor/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #1A1B22;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
